main.community-container {
  --stats-height: 92px; // TODO
  background: #f2f2f5;
  color: var(--Neutral-neutral-80, #343434);
  letter-spacing: -0.03125rem;

  h2,
  h3,
  p {
    margin: 0;
  }

  a {
    color: unset;
    text-decoration: underline;

    &.external:after {
      display: none;
    }
  }

  h2,
  h3 {
    color: var(--Basic-black, #000);

    a {
      text-decoration: none;
    }
  }

  p + p {
    margin-top: 1.5rem;
  }

  section {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    width: 100%;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  > header {
    background: linear-gradient(
      to top,
      transparent 0%,
      transparent calc(var(--stats-height) / 2),
      #fff calc(var(--stats-height) / 2),
      #fff 100%
    );
    padding-top: 7rem;

    section {
      background-image: url("../assets/community/people.svg");
      background-position: bottom calc(var(--stats-height) - 1rem) right;
      background-repeat: no-repeat;
    }

    h1 {
      color: var(--Basic-black, #000);
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    p {
      color: var(--Neutral-neutral-60, #696969);
      margin-bottom: 2rem;
    }

    ul:first-of-type {
      display: flex;
      gap: 1.3125rem;

      a {
        border: 1px solid #000;
        border-radius: 0.5rem;
        color: var(--Basic-black, #000);
        display: block;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 120%; /* 1.5rem */
        padding: 0.625rem;
        text-decoration: none;
      }

      li:first-child a {
        background: var(--Basic-black, #000);
        color: var(--Basic-white, #fff);
      }
    }

    ul:last-of-type {
      background: var(--Basic-white, #fff);
      border-radius: 0.5rem;
      box-shadow:
        4px -2px 1rem 0 rgba(179, 179, 179, 0.2),
        4px -4px 1rem 0 rgba(179, 179, 179, 0.15);

      color: var(--Basic-black, #000);
      display: flex;
      justify-content: space-around;
      margin-top: 10rem;
      padding: 1rem;

      li strong {
        align-items: center;
        background: #e1f5e5;
        border-radius: 50%;

        color: var(--Green-green-60, #007936);
        display: inline-flex;
        height: 3.75rem;
        justify-content: center;
        letter-spacing: -0.03125rem;
        margin-right: 1.38rem;
        width: 3.75rem;
      }
    }
  }

  > header + section {
    margin-top: 4.56rem;
  }

  > section {
    --contributors-height: 50rem;
    column-gap: 5rem;
    display: grid;
    grid-template-columns: 4fr 6fr;

    > * {
      min-width: 0;
    }

    &[aria-labelledby="meet_our_contributors"] {
      grid-template-rows: auto auto auto 50rem;
      margin-top: 10rem;

      .section-content {
        display: contents;
      }

      h2,
      .section-content > * {
        grid-column: 2;
      }

      ul:first-of-type {
        display: flex;
        gap: 2.12rem;
        // contributor buttons
        margin-top: 2rem;

        a {
          background: var(--Basic-white, #fff);
          border: 1px solid #000;
          border-radius: 0.5rem;
          color: var(--Basic-black, #000);
          display: block;
          font-size: 1.25rem;
          font-weight: 500;
          line-height: 120%;
          padding: 0.625rem 3rem;
          text-decoration: none;
        }

        li:first-child a {
          background: #000;
          color: #fff;
        }
      }

      ul:last-of-type {
        // contributor semi-circle
        // TODO simplify/document/@supports
        --img-size: 3.75rem;
        --element-width: 10rem;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><ellipse cx="100%" cy="50%" rx="100%" ry="50%" fill="none" stroke="white" stroke-width="4px"/></svg>'),
          url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><ellipse cx="100%" cy="50%" rx="50%" ry="25%" fill="none" stroke="white" stroke-width="4px"/></svg>');
        grid-column: 1;
        grid-row: 1/5;
        height: var(--contributors-height);
        margin: calc(var(--img-size) / 2) calc(var(--element-width) / 2);
        position: relative;

        li {
          align-items: center;
          color: var(--Basic-black, #000);
          display: flex;
          flex-direction: column;
          height: var(--img-size);
          offset-distance: calc(var(--angle) * 50% + 25%);
          offset-path: ellipse(100% 50% at right center);
          offset-rotate: 0deg;
          text-align: center;
          width: var(--element-width);

          &:nth-child(n + 6) {
            --img-size: 5rem;
            offset-path: ellipse(50% 25% at right center);
          }

          &:nth-child(1) {
            --angle: 0;
          }

          &:nth-child(2) {
            --angle: 1/4;
          }

          &:nth-child(3) {
            --angle: 2/4;
          }

          &:nth-child(4) {
            --angle: 3/4;
          }

          &:nth-child(5) {
            --angle: 1;
          }

          &:nth-child(6) {
            --angle: 0;
          }

          &:nth-child(7) {
            --angle: 1/2;
          }

          &:nth-child(8) {
            --angle: 1;
          }
        }

        img {
          border: 6px #fff solid;
          border-radius: 50%;
          height: var(--img-size);
          width: var(--img-size);
        }

        a {
          font-size: 1.375rem;
          font-weight: 600;
          line-height: 120%; /* 1.65rem */
          text-decoration-line: underline;
        }
      }
    }

    &[aria-labelledby="contributor_spotlight"] {
      margin-top: calc(10rem - var(--contributors-height));

      h2,
      .section-content {
        grid-column: 2;
      }

      h2 {
        margin-bottom: 0;
      }

      ul {
        display: flex;
        gap: 2rem;
        margin-bottom: 1.5rem;
        margin-left: -1rem;
        overflow-x: auto;
        padding: 2.41rem 1rem;
      }

      li {
        background: #fff;
        border-radius: 0.5rem;
        box-shadow:
          4px 4px 15px 0 rgba(179, 179, 179, 0.2),
          4px -4px 15px 0 rgba(179, 179, 179, 0.15);
        display: block;
        flex-shrink: 0;
        padding: 2.35rem 2.9rem 1.5rem;
        width: 20rem;

        a {
          display: block;
          font-style: italic;

          &::before {
            content: "-";
          }
        }
      }

      blockquote {
        border: none;
        padding: 0;
        position: relative;

        p {
          color: var(--Neutral-neutral-80, #343434);
          font-style: italic;
        }

        &::before,
        &::after {
          background-image: url("../assets/community/quote-start.svg");
          background-position: right;
          background-repeat: no-repeat;
          background-size: contain;
          content: "";
          display: block;
          height: 2em;
          left: -2.37em;
          position: absolute;
          top: -0.69em;
          width: 2em;
        }

        &::after {
          background-image: url("../assets/community/quote-end.svg");
          background-position: left;
          bottom: -0.69em;
          left: auto;
          right: -2.37em;
          top: auto;
        }
      }
    }

    &[aria-labelledby="learn_how_to_get_started"] {
      grid-template-rows: 1fr auto auto auto 1fr;
      margin-top: 10rem;

      &::before {
        content: "";
        grid-row: 1;
      }

      .section-content {
        display: contents;
      }

      h2,
      .section-content > * {
        grid-column: 2;
      }

      p:last-child {
        // video link
        display: contents;

        a {
          background-image: url("../assets/community/youtube-play.svg"),
            url("../assets/community/video-thumbnail.jpg"),
            url("../assets/community/video-bg.svg");
          background-position:
            43% 50%,
            36% 50%,
            center;
          background-repeat: no-repeat;
          background-size: 13%, 60%, contain;
          color: transparent;
          display: block;
          grid-column: 1;
          grid-row: 1/6;
          height: 25rem;
          overflow: hidden;
          text-indent: -100rem;
          width: 28rem;
        }
      }
    }

    &[aria-labelledby="join_us_in_shaping_a_better_web"] {
      display: block;
      margin-top: 10rem;

      p {
        margin-bottom: 2.86rem;
      }

      ul {
        display: flex;
        gap: 4.88rem;
        margin-bottom: 5.13rem;
      }

      li {
        align-items: center;
        background: #fff;
        border: 1px solid var(--Neutral-neutral-10, #e2e2e2);
        border-radius: 0.5rem;
        box-shadow:
          4px 4px 15px 0 rgba(179, 179, 179, 0.2),
          0 4px 15px 0 rgba(179, 179, 179, 0.2);
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: space-between;
        padding: 1.5rem 3rem;
        text-align: center;

        h3 {
          align-self: stretch;
          background: #e1f5e5;
          border-radius: 0.5rem 0.5rem 0 0;
          font-size: 1.25rem;
          font-weight: 500;
          margin: -1.5rem -3rem;
          margin-bottom: 0;
          padding: 1.5rem 3rem;
        }

        a {
          background: var(--Basic-black, #000);
          border-radius: 0.5rem;
          color: var(--Basic-white, #fff);
          font-size: 1.25rem;
          font-weight: 500;
          line-height: 120%; /* 1.5rem */
          padding: 0.62rem;
          text-decoration: none;
        }
      }
    }

    &[aria-labelledby="help_us_fix_open_issues"],
    &[aria-labelledby="help_us_fix_open_issues"] ~ section {
      background: #fff;
      color: var(--Basic-black, #000);
      display: block;
      // reset layout/colors for the bottom section
      max-width: 100%;
      padding: 5rem 0;

      h2,
      .section-content,
      .issues-table {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--max-width);
        padding-left: var(--gutter);
        padding-right: var(--gutter);
        width: 100%;
      }
    }

    &[aria-labelledby="help_us_fix_open_issues"] {
      .issues-table {
        margin-top: 1rem;
      }

      table {
        border: 1px solid var(--Neutral-neutral-10, #e2e2e2);
        border-collapse: separate;
        border-radius: 0.5rem;
        border-spacing: 0;
      }

      th,
      td {
        border: none;
        padding: 1.5rem;
      }

      th {
        font-size: 1.25rem;
        font-weight: 500;
      }

      tr:nth-child(odd) {
        background: var(--Neutral-light-neutral-light-70, #f9f9fb);
      }

      td > div {
        align-items: baseline;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem 1.5rem;
      }

      .label {
        background: #dff7e3;
        border-radius: 0.25rem;
        color: var(--Green-green-60, #007936);
        font-weight: 500;
        padding: 0.5rem 1rem;
      }
    }

    &[aria-labelledby="join_the_conversation"] {
      ul {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
      }

      li {
        align-items: flex-start;
        border: 1px solid var(--Neutral-neutral-10, #e2e2e2);
        border-radius: 0.5rem;
        box-shadow:
          4px -2px 1rem 0 rgba(179, 179, 179, 0.2),
          4px -4px 1rem 0 rgba(179, 179, 179, 0.15);
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: space-between;
        padding: 2rem;
        padding-left: 8.5rem;
        position: relative;

        &::before {
          background-image: url("../assets/community/discord.svg");
          background-repeat: no-repeat;
          background-size: contain;
          content: "";
          height: 100%;
          left: 2rem;
          position: absolute;
          width: 5rem;
        }

        &:last-of-type::before {
          background-image: url("../assets/community/community-calls.svg");
        }

        h3 {
          font-size: 1.75rem;
          font-weight: 600;
        }

        a {
          background: var(--Basic-black, #000);
          border-radius: 0.5rem;
          color: var(--Basic-white, #fff);
          font-size: 1.25rem;
          font-weight: 500;
          line-height: 120%; /* 1.5rem */
          padding: 0.62rem;
          text-decoration: none;
        }
      }
    }
  }
}
